body {
    background-image: url("https://www.walldevil.com/wallpapers/a76/patterns-background-dark-texture-wallpaper-image-wallpaperscraft-pattern-metallic-lines-powerpoint-backgrounds.jpg");
}

p {
    font-family: Verdana;
    font-size: 35px;
    text-align: center;
    color: black;
}